@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-gray-1;
}

@layer base {
  .input {
    @apply flex w-full border border-gray-2 bg-gray-2 ring-offset-white;
    @apply file:border-0 file:bg-transparent file:text-14 file:font-medium;
    @apply placeholder:text-gray-6 disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-8 focus-visible:ring-offset-2;
    @apply dark:border-slate-800 dark:bg-slate-950 dark:ring-offset-slate-950 dark:placeholder:text-gray-2 dark:focus-visible:ring-gray-2;

    @apply rounded-sm px-3 py-2 text-14;
    @apply sm:rounded-md sm:px-4 sm:py-3 sm:text-16;
  }
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .full-screen-container {
    @apply flex relative w-full overflow-x-hidden;
    height: 100svh;
  }

  .navbar {
    @apply fixed top-0 z-30 flex-between w-full px-12 py-6;
  }

  .gradient-section,
  .gradient-background {
    @apply fixed top-0 w-full;
    @apply bg-gradient-to-b from-[#BFD0BB] from-0% via-[#F7F3CF] via-40% to-white to-100%;
  }

  .gradient-section {
    @apply absolute h-full -z-10;
  }

  .gradient-background {
    @apply h-[100vh] -z-50;
  }

  .gradient-background-home {
    @apply fixed top-0 w-full;
    @apply bg-gradient-to-b from-[#FFFFFF] from-40% via-[#F7F5CF] via-60% to-[#E0B368] to-100%;
    @apply h-[100vh] -z-50;
  }
}

@layer components {
  .logo-text {
    @apply bg-clip-text text-transparent select-none;
    @apply bg-gradient-to-r from-green-6 from-20% to-green-8 to-80%;
    @apply text-24 sm:text-28 md:text-32;
  }

  .login-form {
    @apply absolute flex flex-col px-8 py-12 bg-invert inset-12 rounded-lg shadow-lg;
    @apply xs:px-16 xs:py-12 xs:rounded-lg;
    @apply sm:relative sm:w-full sm:h-full sm:px-12 sm:inset-0 sm:rounded-none sm:shadow-none;
    @apply md:px-20;
  }

  .login-cover-image {
    @apply flex flex-col justify-end p-12 h-full w-full min-w-[50vw];
    @apply bg-login-cover bg-cover bg-no-repeat;
    @apply lg:min-w-[60vw];
  }

  .login-slogan-title {
    @apply hidden;
    @apply sm:block sm:font-bold sm:text-40 sm:text-t-invert;
    @apply md:text-48;
    @apply lg:text-64;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .login-slogan-subtitle {
    @apply hidden;
    @apply sm:block sm:font-bold sm:text-16 sm:text-t-invert;
    @apply md:text-20;
    @apply lg:text-24;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .login-divider {
    @apply h-[1px] w-full from-green-4 from-0% to-white/0 to-100%;
  }

  .title {
    @apply font-bold text-20 text-t-title;
    @apply sm:text-28;
  }

  .subtitle {
    @apply font-bold text-24 text-t-subtitle;
  }

  /* Home */
  .home-options-button {
    @apply relative flex justify-center w-full;
    @apply overflow-hidden shadow-md rounded-2xl;
    @apply hover:scale-105 transition-transform ease-in-out;
    @apply rounded-2xl md:rounded-[32px];
    @apply h-[160px] sm:h-[200px] md:h-full;
    @apply pt-4 md:pt-24;
  }

  .home-options-button-text {
    @apply bg-clip-text text-transparent select-none z-10;
    @apply bg-gradient-to-r from-t-title from-20% to-t-subtitle to-100%;
    @apply text-20 xs:text-24 sm:text-28 md:text-32 lg:text-48;
  }

  .home-options-button-subtitle {
    @apply bg-clip-text text-transparent select-none z-10;
    @apply bg-gradient-to-r from-green-8 from-20% to-green-4 to-80%;
    @apply text-20 xs:text-24 sm:text-28 md:text-32 lg:text-24;
  }

  .home-options-image {
    @apply absolute bottom-0 w-full h-auto opacity-90;
  }
}
